certificate/.terraform
certificate/terraform.tfvars
certificate/terraform.tfstate.backup
certificate/.terraform.lock.hcl
certificate/terraform.tfstate

s3/.terraform
s3/terraform.tfvars
s3/.terraform.lock.hcl
s3/terraform.tfstate
s3/terraform.tfstate.backup

route53/.terraform
route53/terraform.tfvars
route53/terraform.tfstate.backup
route53/.terraform.lock.hcl
route53/terraform.tfstate

cloudfront-s3/.terraform
cloudfront-s3/terraform.tfvars
cloudfront-s3/terraform.tfstate.backup
cloudfront-s3/.terraform.lock.hcl
cloudfront-s3/terraform.tfstate

target-groups/.terraform
target-groups/terraform.tfvars
target-groups/terraform.tfstate.backup
target-groups/.terraform.lock.hcl
target-groups/terraform.tfstate

lab-website-ecs/.terraform
lab-website-ecs/terraform.tfvars
lab-website-ecs/terraform.tfstate.backup
lab-website-ecs/.terraform.lock.hcl
lab-website-ecs/terraform.tfstate