certificate/.terraform
certificate/terraform.tfvars
certificate/terraform.tfstate.backup
certificate/.terraform.lock.hcl
certificate/terraform.tfstate

s3/.terraform
s3/terraform.tfvars
s3/.terraform.lock.hcl
s3/terraform.tfstate
s3/terraform.tfstate.backup

route53/.terraform
route53/terraform.tfvars
route53/terraform.tfstate.backup
route53/.terraform.lock.hcl
route53/terraform.tfstate

cloudfront-s3/.terraform
cloudfront-s3/terraform.tfvars
cloudfront-s3/terraform.tfstate.backup
cloudfront-s3/.terraform.lock.hcl
cloudfront-s3/terraform.tfstate

target-groups/.terraform
target-groups/terraform.tfvars
target-groups/terraform.tfstate.backup
target-groups/.terraform.lock.hcl
target-groups/terraform.tfstate

lab-website-ecs/.terraform
lab-website-ecs/terraform.tfvars
lab-website-ecs/terraform.tfstate.backup
lab-website-ecs/.terraform.lock.hcl
lab-website-ecs/terraform.tfstate

devops-tutorials/site1/.terraform
devops-tutorials/site1/terraform.tfvars
devops-tutorials/site1/terraform.tfstate.backup
devops-tutorials/site1/.terraform.lock.hcl
devops-tutorials/site1/terraform.tfstate

imports/.terraform
imports/terraform.tfvars
imports/terraform.tfstate.backup
imports/.terraform.lock.hcl
imports/terraform.tfstate

initial-new-site/.terraform
initial-new-site/terraform.tfvars
initial-new-site/terraform.tfstate.backup
initial-new-site/.terraform.lock.hcl
initial-new-site/terraform.tfstate


datadog/.terraform
datadog/terraform.tfvars
datadog/terraform.tfstate.backup
datadog/.terraform.lock.hcl
datadog/terraform.tfstate

kubernetes/infra/.terraform
kubernetes/infra/terraform.tfvars
kubernetes/infra/terraform.tfstate.backup
kubernetes/infra/.terraform.lock.hcl
kubernetes/infra/terraform.tfstate

mumbai-region/.terraform
mumbai-region/terraform.tfvars
mumbai-region/terraform.tfstate.backup
mumbai-region/.terraform.lock.hcl
mumbai-region/terraform.tfstate